/* European */
:lang("en"), :lang("eng"),	/* English */		/* LATIN */
:lang("eu"), :lang("eus"),	/* Basque */
:lang("br"), :lang("bre"),	/* Breton */
:lang("ca"), :lang("cat"),	/* Catalan  */
:lang("co"), :lang("cos"),	/* Corsican */
:lang("kw"), :lang("cor"),	/* Cornish */
:lang("cy"), :lang("cym"),	/* Welsh */
:lang("cs"), :lang("ces"),	/* Czech */
:lang("da"), :lang("dan"),	/* Danish */
:lang("nl"), :lang("nld"),	/* Dutch */
:lang("et"), :lang("est"),	/* Estonian */
:lang("fo"), :lang("fao"),	/* Faroese */
:lang("fi"), :lang("fin"),	/* Finnish */
:lang("fr"), :lang("fra"),	/* French */
:lang("gl"), :lang("glg"),	/* Galician */
:lang("de"), :lang("deu"),	/* German */
:lang("ht"), :lang("hat"),	/* Haitian; Haitian Creole */
:lang("hu"), :lang("hun"),	/* Hungarian */
:lang("ga"), :lang("gle"),	/* Irish */
:lang("is"), :lang("isl"),	/* Icelandic */
:lang("it"), :lang("ita"),	/* Italian */
:lang("la"), :lang("lat"),	/* Latin */
:lang("lb"), :lang("ltz"),	/* Luxembourgish */
:lang("li"), :lang("lim"),	/* Limburgish */
:lang("lt"), :lang("lit"),	/* Lithuanian */
:lang("lv"), :lang("lav"),	/* Latvian */
:lang("gv"), :lang("glv"),	/* Manx */
:lang("no"), :lang("nor"),	/* Norwegian */
:lang("nn"), :lang("nno"),	/* Norwegian Nynorsk */
:lang("nb"), :lang("nob"),	/* Norwegian Bokmal */
:lang("pl"), :lang("pol"),	/* Polish */
:lang("pt"), :lang("por"),	/* Portuguese */
:lang("ro"), :lang("ron"),	/* Romanian */
:lang("gd"), :lang("gla"),	/* Scottish Gaelic  */
:lang("es"), :lang("spa"),	/* Spanish */
:lang("sv"), :lang("swe"),	/* Swedish */
:lang("sl"), :lang("slv"),	/* Slovene */
:lang("sk"), :lang("slk")  {	/* Slovak */
	font-family: Arial, Helvetica, sans-serif;
}


:lang("el"), :lang("ell")  {	/* GREEK */
	font-family: Arial, Helvetica, sans-serif;
}

:lang("ru"), :lang("rus"),	/* Russian */	/* CYRILLIC */
:lang("ab"), :lang("abk"),	/* Abkhaz */
:lang("av"), :lang("ava"),	/* Avaric */
:lang("ba"), :lang("bak"),	/* Bashkir */
:lang("be"), :lang("bel"),	/* Belarusian */
:lang("bg"), :lang("bul"),	/* Bulgarian */
:lang("ce"), :lang("che"),	/* Chechen */
:lang("cv"), :lang("chv"),	/* Chuvash */
:lang("kk"), :lang("kaz"),	/* Kazakh */
:lang("kv"), :lang("kom"),	/* Komi */
:lang("ky"), :lang("kir"),	/* Kyrgyz */
:lang("mk"), :lang("mkd"),	/* Macedonian */
:lang("cu"), :lang("chu"),	/* Old Church Slavonic */
:lang("os"), :lang("oss"),	/* Ossetian */
:lang("sr"), :lang("srp"),	/* Serbian */
:lang("tg"), :lang("tgk"),	/* Tajik */
:lang("tt"), :lang("tat"),	/* Tatar */
:lang("tk"), :lang("tuk"),	/* Turkmen */
:lang("uk"), :lang("ukr")  {	/* Ukrainian */
	font-family: Arial, Helvetica, sans-serif;
}



:lang("hy"), :lang("hye")  {	/* ARMENIAN */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ka"), :lang("kat")  {	/* GEORGIAN */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("cop") {		/* COPTIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("got") {		/* GOTHIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Latn") {	/* LATIN */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Cyrl") {	/* CYRILLIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Cprt") {	/* CYPRIOT */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Glag") {	/* GLAGOLITIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Linb") {	/* LINEAR_B */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Ogam") {	/* OGHAM */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Ital") {	/* OLD_ITALIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Runr") {	/* RUNIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Shaw") {	/* SHAVIAN */
	font-family: Arial, Helvetica, sans-serif;
}




/* African */
:lang("am"), :lang("amh")  {	/* Amharic ETHIOPIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ti"), :lang("tir")  {	/* Tigrinya ETHIOPIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("nqo") {		/* NKO */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("vai") {		/* VAI */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Egyp") {	/* EGYPTIAN_HIEROGLYPHS */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Ethi") {	/* ETHIOPIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Osma") {	/* OSMANYA */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Tfng") {	/* TIFINAGH */
	font-family: Arial, Helvetica, sans-serif;
}





/* Middle Eastern */
:lang("ar"), :lang("ara")  {	/* Arabic */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("fa"), :lang("fas")  {	/* Persian (Farsi) */
	font-family: Arial, Helvetica, sans-serif 
}
:lang("ku"), :lang("kur")  {	/* Kurdish */
	font-family: Arial, Helvetica, sans-serif 
}
:lang("ps"), :lang("pus")  {	/* Pashto */
	font-family: Arial, Helvetica, sans-serif 
}
:lang("ur"), :lang("urd")  {	/* Urdu */
	font-family: Arial, Helvetica, sans-serif 
}
:lang("he"), :lang("heb")  {	/* HEBREW */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("yi"), :lang("yid")  {	/* Yiddish */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("syr") {		/* SYRIAC */
	font-family: Arial, Helvetica, sans-serif;
}

:lang("xcr") {		/* CARIAN */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("xlc") {		/* LYCIAN */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("xld") {		/* LYDIAN */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("phn") {		/* PHOENICIAN */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("uga") {		/* UGARITIC */
	font-family: Arial, Helvetica, sans-serif;
}

:lang("und-Arab") {	/* ARABIC */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Xsux") {	/* CUNEIFORM */
	font-family: Arial, Helvetica, sans-serif;
}




/* Central Asian */
:lang("bo"), :lang("bod"),	/* TIBETAN */
:lang("dz"), :lang("dzo")  {	/* Dzongkha */
	font-family: Arial, Helvetica, sans-serif;
}



/* South Asian */
:lang("as"), :lang("asm")  {	/* Assamese */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("bn"), :lang("ben")  {	/* BENGALI; Bangla */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ks"), :lang("kas")  {	/* Kashmiri */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("hi"), :lang("hin"),	/* Hindi	DEVANAGARI */
:lang("bh"), :lang("bih"),	/* Bihari (Bhojpuri, Magahi, and Maithili) */
:lang("sa"), :lang("san")  {	/* Sanskrit */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("gu"), :lang("guj")  {	/* Gujarati */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("pa"), :lang("pan")  {	/* Panjabi, Punjabi GURMUKHI */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("kn"), :lang("kan")  {	/* Kannada */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("mr"), :lang("mar")  {	/* Marathi */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ml"), :lang("mal")  {	/* MALAYALAM */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ne"), :lang("nep")  {	/* Nepali */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("or"), :lang("ori")  {	/* ORIYA */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("si"), :lang("sin")  {	/* SINHALA */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ta"), :lang("tam")  {	/* TAMIL */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("te"), :lang("tel")  {	/* TELUGU */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("sd"), :lang("snd")  {	/* Sindhi */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("sd-IN") {		/* Sindhi */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("sd-PK") {		/* Sindhi */
	font-family: Arial, Helvetica, sans-serif;
}

:lang("lif") {		/* LIMBU */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("syl") {		/* SYLOTI_NAGRI */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("dv"), :lang("div")  {	/* Divehi; Maldivian  THAANA */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Khar") {	/* KHAROSHTHI */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Mtei") {	/* MEETEI_MAYEK */
	font-family: Arial, Helvetica, sans-serif;
}




/* South East Asian */
:lang("km"), :lang("khm")  {	/* KHMER */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("lo"), :lang("lao")  {	/* LAO */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("my"), :lang("mya")  {	/* MYANMAR Burmese */
	font-family: Arial, Helvetica, sans-serif/
}
:lang("th"), :lang("tha")  {	/* THAI */
	font-family: Arial, Helvetica, sans-serif;
}


:lang("vi"), :lang("vie")  {	/* Vietnamese */
	font-family: Arial, Helvetica, sans-serif 
}


:lang("bug") {		/* BUGINESE */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("su") {		/* SUNDANESE */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("tdd") {		/* TAI_LE */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("blt") {		/* TAI_VIET */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Kali") {	/* KAYAH_LI */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Lana") {	/* TAI_THAM */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Talu") {	/* NEW_TAI_LUE */
	font-family: Arial, Helvetica, sans-serif;
}



/* Phillipine */
:lang("bku") {		/* BUHID */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("hnn") {		/* HANUNOO */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("tl") {		/* TAGALOG */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("tbw") {		/* TAGBANWA */
	font-family: Arial, Helvetica, sans-serif;
}




/* East Asian */
:lang("zh"), :lang("zho")  {	/* Chinese */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("zh-HK") {		/* Hong Kong */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("zh-TW") {		/* Taiwan */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("zh-CN") {		/* Chinese */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ko"), :lang("kor")  {	/* HANGUL Korean */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ja"), :lang("jpn")  {	/* Japanese HIRAGANA KATAKANA */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("lis") {		/* LISU */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Hans") {	/* HAN (SIMPLIFIED) */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Bopo") {	/* BOPOMOFO */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("ii"), :lang("iii"),	/* Nuosu; Yi */
:lang("und-Yiii") {	/* YI */
	font-family: Arial, Helvetica, sans-serif;
}



/* American */
:lang("chr") {		/* CHEROKEE */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("oj"), :lang("oji"),	/* Ojibwe; Chippewa */
:lang("iu"), :lang("iku"),	/* Inuktitut */
:lang("cr"), :lang("cre")  {	/* Cree CANADIAN_ABORIGINAL */
	font-family: Arial, Helvetica, sans-serif;
}
:lang("und-Dsrt") {	/* DESERET */
	font-family: Arial, Helvetica, sans-serif;
}




/*  Other */
:lang("und-Brai") {	/* BRAILLE */
	font-family: Arial, Helvetica, sans-serif;
}
